<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AWSRegion" value="us-west-2" />
		<add key="CognitoAccessId" value="AKIAV6TRIE4P3Y7JZOY7"/>
		<add key="CognitoAccessKey" value="b/dQGSaZHHKI6L2BKIOfRM+SJ8jNZ3fVHTXqFk/M"/>
		<add key="CognitoUserPoolId" value="us-west-2_k1yvudZXI" />
		<add key="IdentityClientId" value="135ua833u7lbv092qtsfbng69m" />
		<add key="IdentityClientSecret" value="19nu621s2bij0j7ti1mo635r8j8435oqgbng44seu2o98inc8o60"/>
		<add key="IdentityPoolId" value="us-west-2_0bb1a8d1-0f8b-4b73-93fe-cfcab1e7ec35" />
		<add key="IdenityProvider" value="cognito-idp.us-west-2.amazonaws.com/" />
		<add key="ResourceId" value="set_your_resource_id" />
		<add key="WebApiScope" value="set_your_scope" />
	</appSettings>
</configuration>
